@model GestionLegalite.Models.solicitude

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="chute chute-center">
    <div class="mw1000 center-block">
        <section id="content" class="table-layout animated fadeIn">

            <!-- -------------- Column Center -------------- -->

            <div class="allcp-form theme-primary tab-pane active mw600" id="login" role="tabpanel">
                <div class="panel fluid-width">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-9">
                                <span class="panel-title">
                                    Eliminar solicitud
                                </span>
                            </div>

                        </div>
                    </div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.fechaHoraInicio)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.fechaHoraInicio)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FechaHoraFin)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FechaHoraFin)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.estado)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.estado)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.mensaje)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.mensaje)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.asesore.nombreusuario)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.asesore.nombreusuario)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.cliente.nombreusuario)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.cliente.nombreusuario)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.actividade.actividad)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.actividade.actividad)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Borrar" class="btn btn-danger" /> |
                            @Html.ActionLink("Regresar al listado", "Index")
                        </div>
                    }

                </div>
            </div>
            <!-- -------------- /Column Center -------------- -->
        </section>
    </div>
</div>
