@model GestionLegalite.Models.cliente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="chute chute-center">
    <div class="mw1000 center-block">
        <section id="content" class="table-layout animated fadeIn">

            <!-- -------------- Column Center -------------- -->

            <div class="allcp-form theme-primary tab-pane active mw600" id="login" role="tabpanel">
                <div class="panel fluid-width">
                    <div class="form-horizontal">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-9">
                                    <span class="panel-title">
                                        Detalles del cliente
                                    </span>
                                </div>

                            </div>
                        </div>
                        <hr />

                        <div>
                            
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    Nombre de usuario
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.nombreusuario)
                                </dd>

                                <dt>
                                    Contraseña
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.password)
                                </dd>

                                <dt>
                                    Nombre
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.nombre)
                                </dd>

                                <dt>
                                    Departamento
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.departamento)
                                </dd>

                                <dt>
                                    Valor
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.valor)
                                </dd>

                            </dl>
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.nit }) |
                        @Html.ActionLink("Regresar al listado", "Index")
                    </p>
                </div>
            </div>
            <!-- -------------- /Column Center -------------- -->
        </section>
    </div>
</div>
